//
// Float pulls
// --------------------------------------------------

@mixin make-pull-alignment($res: null) {
  @if ($res == null) {
    $res: ''
  } @else {
    $res: str_insert($res, '-', str_length($res) + 1);
  }

  .pull-#{$res}base { float: none; }
  .pull-#{$res}left { float: left; }
  .pull-#{$res}right { float: right; }
}